:root {
  --main-color: #fe911c;
  --dark-gray: #262626;
  --medium-gray: #404040;
  --light-gray: #565656;
  --white: #e6e6e6;
  --error: #d30023;
  --success: #009200;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #141414;
  color: var(--white);
  margin: 0;
}

.font-size-xl {
  font-size: 3rem;
}

.font-size-l {
  font-size: 2rem;
}

.font-size-m {
  font-size: 1.5rem;
}

.font-size-s {
  font-size: 1.1rem;
}

.font-size-xs {
  font-size: 1rem;
}

.margin0 {
  margin: 0;
}

.margin-top-bottom-l {
  margin: 50px 0 50px 0;
}

.margin-top-bottom-m {
  margin: 30px 0 30px 0;
}

.margin-top-bottom-s {
  margin: 10px 0 10px 0;
}

.margin-left-right-l {
  margin: 0 50px 0 50px;
}

.margin-left-right-m {
  margin: 0 30px 0 30px;
}

.margin-left-right-s {
  margin: 0 10px 0 10px;
}

.font-hetzner-red {
  color: var(--main-color);
}

.altText {
  position: relative;
}

.altText:hover::after {
  content: "";
  position: absolute;
  top: var(--altText-after-height);;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  z-index: 999;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: var(--altText-after-top);
  border-bottom: var(--altText-after-bottom);
  display: var(--altText-after-display);
}

.altText:hover::before {
  content: attr(data-alt-text);
  position: absolute;
  top: var(--altText-before-height);
  left: 50%;
  transform: translateX(-50%);
  background: var(--light-gray);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 999;
  width: max-content;
  font-size: 1rem;
  font-weight: normal;
  display: var(--altText-after-display);
}

.fit-content {
  width: fit-content;
}

.ccheckbox-container {
  display: block;
  position: relative;
  width: 200px;
  height: 80px;
  transition: all 0.2s linear;
  user-select: none;
}

.ccheckbox-container > span {
  transition: all .2s linear;
}

.ccheckbox-container:hover > span {
  transform: scale(1.02);
  border: 0.5px solid #e6e6e6;
  cursor: pointer;
}

.ccheckbox-container > input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.default-content {
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--dark-gray);
  border-radius: 20px;
  justify-items: center;
  align-items: center;
  transition: all 0.2s ease-out;
  border: 0px solid transparent;
  grid-template-columns: auto auto;
}

.custom-content {
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--dark-gray);
  border-radius: 15px;
  justify-items: center;
  align-items: center;
  transition: all 0.2s ease-out;
  border: 0px solid transparent;
}

.ccheckbox-container input:checked ~ span {
  border: 1px solid var(--main-color);
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.btn-animations {
  transition: all .2s linear;
}

.btn-animations:not(.disabled):not(:disabled):hover {
  transform: scale(1.02);
  box-shadow: inset 0px 0px 20px rgba(254, 145, 28, 0.3);
}

.no-select {
  user-select: none;
}

.loader {
  margin: auto;
  border: 5px solid var(--medium-gray);
  border-radius: 50%;
  border-top: 5px solid var(--main-color);
  width: 14px;
  height: 14px;
  animation: spinner 1s ease infinite;
  display: block;
}
.loader-big {
  margin: auto;
  border: 5px solid var(--medium-gray);
  border-radius: 50%;
  border-top: 5px solid var(--main-color);
  width: 100px;
  height: 100px;
  animation: spinner 1s ease infinite;
  display: block;
  margin-top: 150px;
}
.reverse-color {
  border: 5px solid var(--main-color);
  border-top: 5px solid var(--medium-gray);
}
@keyframes spinner {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.scrollable {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--medium-gray) var(--dark-gray);
}

.highlighted {
  animation: glowing 3s ease-in infinite;
}
@keyframes glowing {
  0% { box-shadow: 0 0 5px var(--main-color); }
  25% { box-shadow: 0 0 20px var(--dark-gray),
                    0 0 10px var(--main-color);
      }
  50% { box-shadow: 0 0 5px var(--main-color); }
  100% { box-shadow: 0 0 5px var(--main-color); }
}