<% const title = "Default page" %>

<%- include('../partials/head.ejs', {title: title, styles: ["default"]}) %>

<body>

    <canvas id="canvas"></canvas>
    <div class="container-content">
        <div class="container-welcomer">
            <h1 class="title font-size-xl hidden-above welcomer-text"><%= title %></h1>
            <p class="text-header font-size-s hidden-below welcomer-text">Welcome to the default page!</p>
        </div>
    </div>

</body>
</html>